* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

body {
  max-width: 1200px;
}

.top-nav {
  background-color: #F96938;
  height: 55px;
  font-size: 80%;
}

#free {
  background-color: #C5522B;
  color: white;
  border-radius: 20px;
  padding: 8px;
  margin-left: 70px;
}

.topnavlink {
  color: white;
  padding: 5px;
  margin-left: 20px;
  margin-top: 15px ;
  display: inline-block;
}

#logo {
  display: inline-block;
}

#logo img {
  margin-left: 70px;
  height: 120px;
  width: 120px;
}

.navbox1 {
  position: absolute;
  top: 60px;
  left: 170px;
  letter-spacing: 1px;
}

.navlink {
  font-size: 130%;
  padding: 11px;
  margin: 20px auto;
  display: inline-block;
  color: grey;
}

.menu-topright {
  float: right;
}

ul {
  list-style: none;
}

.sample-box{
  height: 275px;
  background-color: #F4F4F4;
  padding-left: 65px;
  position: relative;
}



.sample-ties img {
  float: left;
  height: 120px;
  width: 80px;
  padding-left: 15px;
}

.motto {
  clear: both;
  font-size: 300%;
  padding-left: 175px;
  padding-top: 35px;
  letter-spacing: 3px;
}

.products {
  margin-left: 35px;
}

.products img {
  width: 245px;
  height: 155px;
  float: left;
  margin: 20px auto;
  margin-left: 20px;
  border: 2px solid #EFEFEF;
  border-radius: 3px;
}


.history {
  clear: both;
  text-align: center;
}

.history-description {
  font-style: italic;
  font-size: 160%;
  letter-spacing: 1px;
  color: grey;
}

.history-view {
  color: #33A1FF;
  letter-spacing: 3px;
  font-size: 90%;
}

.current-content {
  margin: 35px 35px auto;
  padding-left: 50px;
}

.four-boxes {
  width: 155px;
  height: 200px;
  float: left;
  margin: 17px 17px auto;
}

.four-boxes h3 {
  margin: 0px;
}

.four-boxes img {
  width: 180px;
  height: 105px;
  border: 2px solid #EFEFEF;
  border-radius: 3px;
}

.box-1-subtext {
  color: #33A1FF;
  font-size: 65%;
  font-weight: bold;
  margin-top: -10px;

}

.box-2-subtext {
  color: black;
  font-size: 65%;
  margin-top: 0px;
  font-weight: bolder;

}

.box-3-subtext {
  color: black;
  font-size: 65%;
  margin-top: 0px;
  font-weight: bold;
}

.box-4-subtext {
  font-size: 65%;
  margin-top: 0px;
  font-weight: bold;
}

.box-4-blue {
  font-size: 65%;
  color: #33A1FF;
  font-weight: bold;
}

.subscribe-me {
  color: white;
  background-color: #33A1FF;
  border-radius: 3px;
  border: 1px solid lightgrey;
  margin-top: 10px;
  padding: 3px 15px;
}

.bottom-content {
  font-size: 65%;
  margin: 0px;
  padding-left: 80px;
  background-color: #F4F4F4;
  overflow: auto;
}

.bottom-list {
  display: inline-block;
  float: left;
  margin: 25px;
}

.bottom-list p {
  margin: 0px;
}

.bottom-right-content {
  width: 300px;
  height: 130px;
  position: relative;
  float: right;
  background-color: #A2AFC0;
  margin-right: 55px;
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.right-1 {
  font-size: 250%;
  color: white;
  margin: 0px;
  font-style: italic;
  padding-left: 9px;
}

.right-2 {
  color: white;
  font-size: 140%;
  padding-left: 9px;
  margin: 0px;
}

.right-3 {
  color: white;
  font-size: 140%;
  padding-left: 9px;
  margin: 0px;
  position: absolute;
}

.contact-us {
  position: absolute;
  color: white;
  background-color: #33A1FF;
  border-radius: 3px;
  border: 1px solid lightgrey;
  margin-top: 5px;
  margin-right: -100px;
  padding: 3px 15px;
}


.footer {
  clear: both;
}
